# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = yuedu163Spider.settings

[deploy:100]
url = http://localhost:6801/
project = yuedu163Spider
